body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 30px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}
/*sol*/
body{
  display: flex;
  flex-direction: column;
}
.sidebar{
  flex-shrink: 0;
}
.content{
  display: flex;
  flex: 1;
}

.text{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  gap: 30px;
  padding: 16px;
}

.card{
  width: 300px;
  padding: 16px;
}

ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: large;
  align-items: flex-start;
  padding: 0px;
}

a {
  text-decoration: none;
  color: white;
}

.footer{
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}