.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px; 
  flex-shrink: 0%;
}

.logo {
  display: flex;
  height: 50px; 
  font-size: 32px;
  font-weight: 900;
  color: tomato;
  background: white;
  flex: 0;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

ul {
  /* this removes the dots on the list items*/
  display: flex;
  list-style-type: none;
  flex: 1;
  margin: 0;
  padding: 0;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
  flex: 1;
  margin: 0 15px;
}