/* Add CSS Styling */
.first
    {
        background-color: darkorchid;
        color: black;
    }
.second
    {
        background-color: aqua;
        color: purple;
    }
button
    {
        size: 23px;
        font-family: "Helvetica Times New Roman", sans-serif;
    }